*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.csv
**/local.py
*.log
**/checkpoints
/data
/tensorboard
/logs
/models
/outputs
/checkpoints
/test
*.npy
test_inputs
out
check2_correct_ops.onnx
check0_base_optimize.onnx
check1_fold_constant.onnx
check3_fuse_ops.onnx
